body {
    background-color: #f8f7f7;
}

.search-form>input {
    display: block;
    width: 200px;
    height: 50px;
    padding: 0 30px;

    font-family: monospace;
    font-size: 15px;
    color: #080808;

    border-radius: 50px;
    background: #f8f7f7;
    outline: none;
 

}

.search-form>input:focus {
    background: #f8f7f7;
    
}



.search-form>button {
    display: block;

    height: 50px;
    margin: 0 0 0 20px;
    padding: 0 30px;

    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #8ae5d1;

    border: none;
    border-radius: 50px;
    border-radius: 50px;
    
  
    cursor: pointer;
    transition: color 200ms linear, box-shadow 50ms linear, text-shadow 200ms linear;
}

.search-form>button:hover {
    color: #ff652d;
    text-shadow: 0 0 2px #ff652d;
}

.search-form>button:active {
    box-shadow: 5px 5px 10px #ac9898,
        -5px -5px 10px #b08181;
}


.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    margin: 40px auto;
}

.gallery>a {
    text-decoration: none;
    color: inherit;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px;
    padding: 0 50px;
    justify-content: center
}

.photo-card {
    padding: 20px;


}

.photo-card:hover {
    box-shadow: 7px 7px 14px #272727,
        -7px -7px 14px #7b7b7b;
}

.photo-card:active {
    background: #515151;
    box-shadow: inset 5px 5px 10px #272727,
        inset -5px -5px 10px #7b7b7b;
}

.photo-card:hover span {
    color: #ff652d;
    text-shadow: 0 0 2px #ff652d;
}

.photo-img {
    border-radius: 10px;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.info-item>b {
    color: #ffffff;
}

.info-item>span {
    color: #ff652d;
    transition: color 200ms linear, text-shadow 200ms linear;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: monospace;
}



.load-more {
    display: block;
    margin: 0 auto;
    height: 50px;
    padding: 0 30px;

    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #303030;

    border-radius: 15px;
    background-color: #ff652d;
    cursor: pointer;
    transition: box-shadow 250ms;
}

.load-more:hover {
    box-shadow: 10px 10px 30px #000000;

}

.is-hidden {
    display: none;
}